<div class="el-downlist">
     <div class="canvas-ct" style="overflow: hidden;position:fixed;z-index:-1">
        <canvas class="mycanvas"></canvas>
    </div>
    <div class="route"  x-class="{showItem:'showR',top:'top'}">
        <div x-repeat="first_type" class="first-type">
            <div class='item-name' e-click='routeItem' x-class="{'show':'show'}">{{first_name}}</div>
            <div class='route-ct' x-class="{'no':'!show'}">
                <div x-repeat="plugin" class='item' e-click="active">
                    <div x-route="{{route}}" active="actives" x-class="{'active':'actives'}">
                        <div e-click="disnone" class="route-rename">{{name}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='router-content'>
        <div x-router></div>
    </div>
    <div class="down-page" x-if="down">
        <div class="down-content">
            <div class="head">
                <span>插件下载</span>
                <div class="dele-btn" e-click="close">
                    <div class="content">×</div>
                </div>
            </div>
            <div class="list">
                <a href="{{src}}" download e-click="close" style="border-radius:10px">下载</a>
            </div>
        </div>
    </div>
</div>