* {
    user-select: none;
    margin: 0;
    padding: 0;
    font-family: 'PingFangSC', 'helvetica neue', 'hiragino sans gb', 'arial', 'microsoft yahei ui', 'microsoft yahei',
        'simsun', 'sans-serif' !important;
}

ul li {
    list-style: none;
}

.font0 {
    font-size: 0px;
}

.font10 {
    font-size: 10px;
}

.font12 {
    font-size: 12px;
}

.font14 {
    font-size: 14px;
}

.font16 {
    font-size: 16px;
}

.font18 {
    font-size: 18px;
}

.font20 {
    font-size: 20px;
}

.font22 {
    font-size: 22px;
}

.font24 {
    font-size: 24px;
}

.font26 {
    font-size: 26px;
}

.fore-red {
    color: #d02200;
}

.fore-blue {
    color: #409eff;
}

.fore-shallow-green {
    color: #eff9eb;
}

.fore-green {
    color: #67c23a;
}

.fore-black {
    color: #000;
}

.fore333 {
    color: #333;
}

.fore666 {
    color: #666;
}

.fore999 {
    color: #999;
}

.fore-white {
    color: #fff;
}

.fore008489 {
    color: #008489;
}

.fore-brown {
    color: #2f2222;
}

.clear {
    clear: both;
}

.con-header {
    position: relative;
    width: 100%;
    padding: 15px;
    height: 80px;
    background-color: #666;
    box-sizing: border-box;
}

.con-header .logo {
    height: 40px;
}

@media screen and (max-width: 800px) {
    .con-header {
        padding: 1rem 0 1rem 1rem !important;
    }

    .con-header ul {
        padding-top: 0.2rem !important;
        margin-right: 1rem !important;
    }

    .con-header ul .noPadding {
        padding-right: 0 !important;
    }

    .con-header .app {
        top: 0 !important;
        right: 0 !important;
        position: relative !important;
        display: block !important;
        z-index: 9999;
        width: 48px;
        height: 28px;
        background: url("img/more.png");
        background-position: center center;
        color: #fff;
        background-size: cover;
    }
}

.con-header .app {
    display: none;
}

.con-header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    float: right;
    padding-top: .6rem;
    color: #fff;
    font-size: 12px;
}

.con-header ul li {
    float: left;
    padding-right: 15px;
    cursor: pointer;
}

.con-header ul .active {
    color: #ff6666;
}

@media screen and (max-width: 800px) {
    .con-config {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 5px 0px !important;
        min-width: 5rem !important;
        overflow-x: hidden !important;
    }
}

.con-config {
    padding: 10px 5px;
    overflow-x: hidden;
}

@media screen and (max-width: 800px) {
    .con-config .itemss {
        font-size: 12px;
        margin-left: 0.5px;
        padding: 0.25rem 1rem;
        width: 10rem;
        margin: 0 auto;
        font-size: 0px;
    }

    .con-config .itemss .span {
        vertical-align: top;
        border-radius: 2px;
        height: 30px;
        width: 4.4rem !important;
        text-align: center;
        line-height: 30px;
        display: inline-block;
        background-color: #ff8d00;
        color: #fff;
        font-size: 12px;
        margin-right: 5px;
    }

    .con-config .itemss .input {
        margin-left: 1rem;
        cursor: pointer;
        vertical-align: top;
        height: 28px;
        width: 4rem;
        outline: none;
    }

    .con-config .itemss .input[type="color"] {
        margin-left: 1rem;
        cursor: pointer;
        vertical-align: top;
        height: 28px;
        width: 4rem;
        outline: none;
    }

    .con-config .itemss .input[type="number"] {
        text-align: center;
        margin-left: 1rem;
        cursor: pointer;
        vertical-align: top;
        height: 28px;
        width: 4rem;
        border: 1px solid #999;
        outline: none;
    }
}

@media screen and (min-width: 800px) {
    .con-config .itemss {
        font-size: 12px;
        padding: 5px 0;
        width: 250px;
        float: left;
        font-size: 0px;
    }

    .con-config .itemss .span {
        vertical-align: top;
        border-radius: 2px;
        height: 34px;
        width: 100px;
        text-align: center;
        line-height: 34px;
        display: inline-block;
        background-color: #ff8d00;
        color: #fff;
        font-size: 12px;
        margin-right: 5px;
    }

    .con-config .itemss .input {
        box-sizing: border-box;
        cursor: pointer;
        vertical-align: top;
        height: 34px;
        padding: 2px;
        width: 4rem;
        outline: none;
    }
}

@media screen and (max-width: 800px) {
    .con-config .check {
        float: none !important;
        margin-left: 0px !important;
        padding: 0.25rem 1rem !important;
        width: 10rem !important;
        margin: 0 auto !important;
    }
}

.con-config .check {
    float: left;
    font-size: 12px;
    padding: 5px 0;
    width: 250px;
    font-size: 0px;
}

@media screen and (max-width: 800px) {
    .con-config .check .span {
        height: 34px !important;
        width: 4.4rem !important;
        line-height: 34px !important;
        margin-right: 20px !important;
    }
}

.con-config .check .span {
    text-align: center;
    vertical-align: top;
    border-radius: 2px;
    height: 34px;
    width: 100px;
    line-height: 34px;
    display: inline-block;
    background-color: #ff8d00;
    color: #fff;
    font-size: 12px;
    margin-right: 5px;
}

.con-config .check .input {
    cursor: pointer;
    vertical-align: bottom;
    height: 30px;
    padding: 2px;
    height: 34px;
    box-sizing: border-box;
    margin-left: 0rem;
    width: 30px;
    outline: none;
}

@media screen and (max-width: 800px) {
    .chart {
        width: 14rem !important;
    }
}

.con-eusure {
    width: 223px;
    margin: 20px auto;
    overflow-x: hidden;
    font-size: 12px;
    text-align: center;
}

.con-eusure>div {
    cursor: pointer;
    background-color: #ff8d00;
    color: #fff;
    height: 20px;
    padding: 5px 2px;
    border-radius: 3px;
    line-height: 20px;
}

.con-eusure .config-finish {
    float: left;
    text-align: center;
    width: 100px;
    margin: 0 auto;
}

.con-eusure .less {
    margin-right: 15px;
}

input[type="color"] {
    border: 1px solid #ccc;
}

.el-loading {
    background-color: #fafafa;
}

.el-loading .animation-loading {
    width: 100%;
    position: relative;
    height: 300px;
}

.el-loading .nd-plugin-loading-2 {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    z-index: 1000;
    justify-content: center;
    width: 100vw !important;
    height: 100vh !important;
}

.el-loading .nd-plugin-loading-2 .spinner {
    margin: 100px auto;
    height: 100px;
    width: 80px;
    text-align: center;
    font-size: 10px;
}

.el-loading .nd-plugin-loading-2 .spinner>div {
    background-color: #fdb702;
    height: 100%;
    width: 12px;
    display: inline-block;
    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
}

.el-loading .nd-plugin-loading-2 .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.el-loading .nd-plugin-loading-2 .spinner .rect3 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

.el-loading .nd-plugin-loading-2 .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.el-loading .nd-plugin-loading-2 .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {

    0%,
    40%,
    100% {
        -webkit-transform: scaleY(0.4);
    }

    20% {
        -webkit-transform: scaleY(1);
    }
}

@keyframes stretchdelay {

    0%,
    40%,
    100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }

    20% {
        transform: scaleY(1);
        -webkit-transform: scaleY(1);
    }
}

@media screen and (max-width: 800px) {
    .plugin-instruction {
        padding: 50px 0px;
    }
}

@media screen and (min-width: 800px) {
    .plugin-instruction {
        padding: 50px 30px;
    }
}
@media screen and (max-width: 800px){
    .plugin-instruction .instruction-tip {
        font-size: .5rem;
    }
}

.plugin-instruction p {
    text-indent: 2em;
}

.plugin-instruction .instruction-title-first {
    min-width: 150px;
    font-size: 22px;
    font-weight: bold;
    color: #ff9966;
}

.plugin-instruction .instruction-title-sec {
    font-size: 18px;
    font-weight: bold;
}

.plugin-instruction .instruction {
    font-size: 14px;
}

.plugin-instruction .instruction-tip {
    background: #ff9933;
    border-radius: 5px;
    padding: 5px;
    line-height: 24px;
}

.plugin-instruction .instruction-code {
    text-align: left;
    tab-size: 4;
    line-height: 30px;
    overflow: auto;
    background: #f0f0f0;
    border: 1px solid #e0e0e0;
    white-space: nowrap;
    font-size: 12px;
    padding: 10px;
}

.plugin-instruction .instruction-code .comment {
    color: #ff6666;
}

.plugin-instruction .instruction-code .element {
    color: #900;
}

.plugin-instruction .instruction-code .attr {
    color: #39c;
}

.plugin-instruction .instruction-example {
    overflow: auto !important;
    width: 100%;
    min-height: 150px;
    border: 1px dashed black;
    margin: 30px auto;
    padding: 10px 0;
}