<div class="tableS" style="box-shadow: 2px 2px 10px rgba(25,25,25,.2)">
    <div class="clon clon-header">
        <div class="ip">ip</div>
        <div class="count" x-show='{{pc}}'>地区</div>
        <div class="count" x-show="{{pc===false}}">次数</div>
        <div class="time">时间</div>
        <div class="path">action</div>
        <div class="deal">操作</div>
    </div>
	<div x-repeat="list" class="clon">
        <div class="ip">{{ip}}</div>
        <div class="count" x-show='pc'>{{ct}}</div>
        <div class="count" x-show="{{pc===false}}">{{count}}</div>
		    <div class="time">{{time}}</div>
        <div class="path">{{path}}</div>
        <div class="deal" e-click="delete">删除</div>
	</div>
</div>
<div class="page-box">
    <div class="page">
        <div x-plugin="paging_1"></div>
    </div>
    <div class="clear"></div>
</div>